# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# FastAPI / Logs
*.log

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
dist/
build/

# Node (if you use npm later)
node_modules/

# Coverage
.coverage
htmlcov/

# Temporary files
*.tmp
*.temp
.vercel
